<a href="https://colab.research.google.com/github/eckton78/EXPANDAS/blob/master/EXPANDAS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![anatel](img/anatel_logo.png "Logo Anatel")

# Análise de Dados da Anatel em Minas Gerais (2006 - 2019)

A Agência Nacional de Telecomunicaçõe ([Anatel](https://www.anatel.gov.br/institucional/)) foi criada em 16 de julho de 1997 com o objetivo de regular o setor de telecomunicações para contribuir com o desenvolvimento do Brasil. Neste estudo iremos explorar o conjunto de dados das **Reclamações Registradas na Anatel** no estado de Minas Gerais durante os anos de 2006 até 2019. Os dados foram baixaados do  website [Dados Abertos](http://www.dados.gov.br/dataset/solicitacoesregistradasnaanatel) e o [Dicionário de Dados Oficial](data/Reclamações_Glossário_e_Metadados.pdf) está disponível na pasta: [`data/Reclamações_Glossário_e_Metadados.pdf`](data/Reclamações_Glossário_e_Metadados.pdf).

## Exercícios
Faça as questões abaixo usando somente a biblioteca [pandas](https://pandas.pydata.org/).

1. Importe o pacote **pandas** como o nome pd.

In [ ]:
import numpy as np
import pandas as pd

2. Carregue em memória o conjunto de dados disponível na pasta [`data/anatel_mg_2006_2019.csv`](data/anatel_mg_2006_2019.csv) para uma variável chamada **df**.

In [ ]:
df = pd.read_csv('anatel_mg_2006_2019.csv')

3. Quantas linhas e quantas colunas foram carregadas em memória?

In [ ]:
df.shape

(26697, 12)

4. Mostre as 5 primeiras linhas do *dataset*.

In [ ]:
df.head()

  DataExtracao   Ano  Mes  ...               Motivo  UF QtdeSolic
0   2016-04-28  2006    1  ...        Interferência  MG       3.0
1   2016-04-28  2006    1  ...              Outorga  MG       8.0
2   2016-04-28  2006    1  ...             Cobrança  MG       1.0
3   2016-04-28  2006    1  ...  Serviços Adicionais  MG       1.0
4   2016-04-28  2006    1  ...             Clonagem  MG       1.0

[5 rows x 12 columns]

5.  Quais são os tipos de dados de cada uma das colunas?

In [ ]:
df.dtypes

DataExtracao      object
Ano                int64
Mes                int64
CanalEntrada      object
Condicao          object
GrupoEconNorm     object
Tipo              object
Servico           object
Modalidade        object
Motivo            object
UF                object
QtdeSolic        float64
dtype: object

6. Mostre a quantidade de colunas para cada um dos tipos de dados.

In [ ]:
df.dtypes.value_counts()

object     9
int64      2
float64    1
dtype: int64

7. Mostre as informações básicas do DataFrame.

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26697 entries, 0 to 26696
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   DataExtracao   26697 non-null  object
 1   Ano            26697 non-null  int64
 2   Mes            26697 non-null  int64
 3   CanalEntrada   26697 non-null  object
 4   Condicao       26696 non-null  object
 5   GrupoEconNorm  26696 non-null  object
 6   Tipo           26696 non-null  object
 7   Servico        26696 non-null  object
 8   Modalidade     26696 non-null  object
 9   Motivo         26696 non-null  object
 10  UF             26696 non-null  object
 11  QtdeSolic      26696 non-null  float64
dtypes: float64(1), int64(2), object(9)
memory usage: 2.4+ MB

8. Verifique se existem dados ausentes (*misssing data*) no conjunto de dados.

In [ ]:
df.isnull().values.any()

True

9. Qual é o número total de dados ausentes?

In [ ]:
df.isnull().sum().sum()

8

10. Qual é o número total de dados ausentes por coluna?

In [ ]:
df.isnull().sum()

DataExtracao     0
Ano              0
Mes              0
CanalEntrada     0
Condicao         1
GrupoEconNorm    1
Tipo             1
Servico          1
Modalidade       1
Motivo           1
UF               1
QtdeSolic        1
dtype: int64

11. Remova todos os dados ausentes encontrados.

In [ ]:
df = df.dropna()

12. Selecione o serviço que possui o maior número de solicitações `QtdeSolic` na Anatel.

In [ ]:
df.sort_values(by = 'QtdeSolic', ascending = False).head(1)

      DataExtracao   Ano  Mes CanalEntrada  ... Modalidade    Motivo  UF QtdeSolic
23602   2016-04-28  2007   12  Call Center  ...   Pós-Pago  Cobrança  MG     611.0

[1 rows x 12 columns]

13. Qual é o menor número de solicitações `QtdeSolic` na Anatel.

In [ ]:
df.QtdeSolic.min()

1.0

14. Mostre todas as linhs iguais ao menor número de solicitações `QtdeSolic` na Anatel.

In [ ]:
df.loc[df['QtdeSolic'] == 1.0]

      DataExtracao   Ano  Mes  ...                 Motivo  UF QtdeSolic
2       2016-04-28  2006    1  ...               Cobrança  MG       1.0
3       2016-04-28  2006    1  ...    Serviços Adicionais  MG       1.0
4       2016-04-28  2006    1  ...               Clonagem  MG       1.0
5       2016-04-28  2006    1  ...                 Reparo  MG       1.0
6       2016-04-28  2006    1  ...           Cancelamento  MG       1.0
...            ...   ...  ...  ...                    ...  ..       ...
26684   2016-04-28  2008    3  ...      Planos de serviço  MG       1.0
26691   2016-04-28  2008    2  ...      Planos de serviço  MG       1.0
26692   2016-04-28  2008    2  ...  Cobrança - Co-billing  MG       1.0
26693   2016-04-28  2008    2  ...      Planos de serviço  MG       1.0
26694   2016-04-28  2008    2  ...      Cartão Telefônico  MG       1.0

[13683 rows x 12 columns]

15. Mostre as contagens de solicitações `QtdeSolic` por tipo de serviço `Servico`.

In [ ]:
pd.crosstab(df['Servico'], ['QtdeSolic'])

col_0                                               QtdeSolic
Servico
Limitado Privado                                          168
Móvel Pessoal                                           12408
Outros                                                    150
Radioamador (PY)                                          213
Radiochamada (Paging)                                       7
Radiodifusão (Rádio e TV)                                 765
Rádio do Cidadão (PX)                                     164
Serviço Móvel Aeronáutico                                   8
Serviço Móvel Marítimo                                      6
Serviço Telefônico Fixo Comutado - STFC                  7549
Serviço de Comunicação Multimídia                        1916
Serviço de Rede e Transporte de Telecomunicaçõe...        531
Serviços da Anatel                                        892
TV por Assinatura                                        1881
Troncalizado (Trunking)                                    38

16. Ao longo dos anos mostre o número de solicitações por mês?

In [ ]:
df[['Ano', 'QtdeSolic', 'Mes']].groupby(['QtdeSolic', 'Mes']).mean()

                       Ano
QtdeSolic Mes
1.0       1    2007.066055
          2    2007.054305
          3    2006.786378
          4    2006.518750
          5    2006.515068
...                    ...
508.0     7    2007.000000
524.0     12   2007.000000
526.0     11   2007.000000
533.0     1    2008.000000
611.0     12   2007.000000

[1162 rows x 1 columns]

17. Crie o vetor **reclamacoes** com todos os dados que cuja coluna `Tipo` seja igual a "Reclamação".

In [ ]:
reclamacoes = df[df.Tipo == "Reclamação"]
reclamacoes

      DataExtracao   Ano  Mes  ...                     Motivo  UF QtdeSolic
2       2016-04-28  2006    1  ...                   Cobrança  MG       1.0
3       2016-04-28  2006    1  ...        Serviços Adicionais  MG       1.0
4       2016-04-28  2006    1  ...                   Clonagem  MG       1.0
5       2016-04-28  2006    1  ...                     Reparo  MG       1.0
6       2016-04-28  2006    1  ...               Cancelamento  MG       1.0
...            ...   ...  ...  ...                        ...  ..       ...
26690   2016-04-28  2008    2  ...  Completamento de Chamadas  MG       4.0
26691   2016-04-28  2008    2  ...          Planos de serviço  MG       1.0
26692   2016-04-28  2008    2  ...      Cobrança - Co-billing  MG       1.0
26693   2016-04-28  2008    2  ...          Planos de serviço  MG       1.0
26694   2016-04-28  2008    2  ...          Cartão Telefônico  MG       1.0

[20992 rows x 12 columns]

18. Mostre o número total de solictiações `QtdeSolic` de reclamações para cada tipo de serviço `Servico`

In [ ]:
pd.crosstab(reclamacoes['Servico'], ['QtdeSolic'])

col_0                                               QtdeSolic
Servico
Limitado Privado                                           44
Móvel Pessoal                                           10646
Outros                                                     47
Radioamador (PY)                                           31
Radiodifusão (Rádio e TV)                                  25
Rádio do Cidadão (PX)                                      24
Serviço Móvel Aeronáutico                                   1
Serviço Móvel Marítimo                                      1
Serviço Telefônico Fixo Comutado - STFC                  6264
Serviço de Comunicação Multimídia                        1433
Serviço de Rede e Transporte de Telecomunicaçõe...        458
Serviços da Anatel                                        349
TV por Assinatura                                        1636
Troncalizado (Trunking)                                    33

19. Quais são os maiores ou maior motivo de solicitação de reclamações?

In [ ]:
reclamacoes.Motivo.max()

'Área de Cobertura'

20. Faça um agrupamento de dados pela coluna `GrupoEconNorm`, mostrando um sumário estatístico da quantidade solicitações `QtdeSolic`.